---


- name: Ensure PostgreSQL databases exist
  community.postgresql.postgresql_db:
    name: "{{ item.name }}"
    state: present
  loop: "{{ postgres_databases }}"
  become_user: postgres
  no_log: true




- name: Ensure PostgreSQL users exist
  community.postgresql.postgresql_user:
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    state: present
  loop: "{{ postgres_users }}"
  become_user: postgres
  no_log: true




- name: Grant database privileges to users
  community.postgresql.postgresql_privs:
    db: "{{ item.db }}"
    role: "{{ item.name }}"
    type: database
    privs: "{{ item.privs }}"
    state: present
  loop: "{{ postgres_users }}"
  become_user: postgres
  no_log: true




- name: Remove superuser and extra privileges from users
  community.postgresql.postgresql_user:
    name: "{{ item.name }}"
    role_attr_flags: "NOSUPERUSER,NOCREATEDB,NOCREATEROLE"
  loop: "{{ postgres_users }}"
  become_user: postgres
  no_log: true
