---
- name: Define leader node
  set_fact:
    leader: "{{ groups['swarm_manager'][0] }}"

- name: Skip leader node
  meta: end_host
  when: inventory_hostname == leader



- name: Get swarm state on standby manager
  shell: docker info --format '{{ "{{" }} .Swarm.LocalNodeState {{ "}}" }}'
  register: swarm_state
  changed_when: false
  failed_when: false



- name: Wait for Docker socket
  wait_for:
    path: /var/run/docker.sock
    timeout: 30



- name: Get manager join token from leader
  shell: docker swarm join-token -q manager
  delegate_to: "{{ leader }}"
  register: manager_token
  run_once: true



- name: Get leader private IP
  set_fact:
    leader_private_ip: >-
      {{
        hostvars[leader].ansible_default_ipv4.address
        | default(hostvars[leader].ansible_host)
      }}



- name: Join as swarm manager
  shell: docker swarm join --token {{ manager_token.stdout }} {{ leader_private_ip }}:2377
  register: join_result
  retries: 5
  delay: 10
  until: join_result.rc == 0 or "This node joined a swarm" in join_result.stdout
  when: swarm_state.stdout == "inactive"
